.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
}


.Board {
    flex: 1 1 100%;
}

.CardMat {
    flex: 0 2 10em;
}

@media (min-height: 20rem) {
    .CardMat {
        min-height: 7rem;
    }
}

@media (min-height: 30rem) {
    .CardMat {
        min-height: 10rem;
    }
}

@media (min-height: 40rem) {
    .CardMat {
        min-height: 15rem;
    }
}

@media only screen and (min-aspect-ratio: 2 / 1) and (max-height: 50rem) {
    .App {
        flex-direction: row;
        width: auto;
        height: 100%;
    }

    .CardMat {
        flex-basis: 15rem;
    }
}