.skip-card .card-bg {
    fill: #F6891F;
}

.transfer-card .card-bg {
    fill: #686665;
}

.reshuffle-card .card-bg {
    fill: #009dde;
}

.number-card .card-bg {
    fill: #009dde;
}

.reshuffle-card .card-label {
    font-size: 22px;
}

.reshuffle-card .card-icon text {
    text-decoration: underline;
    font-size: 0.9em;
}