.skip-card[data-revealed='true'] .card-bg {
    fill: #F6891F;
}

.free-card[data-revealed='true'] .card-bg {
    fill: #007D71;
}

.transfer-card[data-revealed='true'] .card-bg {
    fill: #686665;
}

.reshuffle-card[data-revealed='true'] .card-bg {
    fill: #009dde;
}

.number-card[data-revealed='true'] .card-bg {
    fill: #009dde;
}

.reshuffle-card[data-revealed='true'] .card-label {
    font-size: 22px;
}