@font-face {
    font-family: futura-lt;
    font-style: normal;
    font-weight: 400;
    src:local('Futura LT'), url(./fonts/futura-lt/FuturaLT.ttf) format('truetype');
}

/* 
@font-face {
    font-family: futura-lt;
    font-style: normal;
    font-weight: 300;
    src:local('Futura LT'), url(./fonts/futura-lt/FuturaLT-Light.ttf) format('truetype');
}
*/

@font-face {
    font-family: futura-lt;
    font-style: normal;
    font-weight: 700;
    src:local('Futura LT'), url(./fonts/futura-lt/FuturaLT-Bold.ttf) format('truetype');
}