.station {
	// outline: none;
	
	&[aria-checked='false'] {
		.station-circle {
			stroke: #b0b1b5;
			fill: #ffffff;
		}
	}

	&[aria-checked='mixed'] {
		.station-circle {
			stroke: #b0b1b5;
			fill: #242021; 
		}
	}
	
	&[aria-checked='true'] {
		.station-circle {
			fill: #242021; 
			stroke: #b0b1b5;
			stroke-width: 2;
		}
	}

	&[aria-disabled='false'] {
		cursor: pointer;
	}

	&[aria-disabled='true'] {
		cursor: not-allowed;
	}

	&.transfer {
		text {
			fill: #b0b1b5;
		}
	}
}