@use 'sass:math';


$radius: 20;
$circum: 2 * math.$pi * $radius;
$dashLen: $circum / 5;

@keyframes dashed-route-name {
	from {
		stroke-dashoffset: 2 * $dashLen;
	}
	to {
		stroke-dashoffset: 0;
	}
}

.subway {
	outline: none;
	
	text {
		user-select: none;
	}

	.window-border {
		fill: none;
		stroke: var(--color);
		stroke-linejoin: round;
		filter: brightness(80%);
	}

	.route-name {

		.route-name-bg {
			fill: var(--color);
			stroke-width: 0;
		}

		text {
			font-weight: 700;
			font-size: 24px;
			fill: #fff;
		}

		.route-name-border {
			fill: none;
			stroke-width: none;
		}
	}

	.bonuses {
		font-weight: 700;
		font-size: 16px;
	}
	
	&[aria-disabled='false'] {
		cursor: pointer;
	}

	&[aria-disabled='true'] {
		cursor: not-allowed;
	}

	&[aria-disabled='false'] {
		&:hover,
		&:focus,
		&:active {
			transform: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
		}
	}

	&[aria-checked='mixed'] {

		.route-name-border {
			stroke: var(--color);
			stroke-width: 3;
			filter: brightness(80%);
		}

		.window.preview,
		.route,
		.route-name {
			transform: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.8));
			stroke-dasharray: (.2 *  $dashLen) (.3 * $dashLen);
			stroke-linecap: round;
			animation: dashed-station 3s linear infinite;

			@media (prefers-reduced-motion) {
				animation: none;
			}
		}
		
		.route {
			stroke-dasharray: (.1 *  $dashLen) (.4 * $dashLen);
		}

		.train-cart {
			transform: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
		}
	}
}